<div>
  <img id="js-logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/99/Unofficial_JavaScript_logo_2.svg/1024px-Unofficial_JavaScript_logo_2.svg.png">
  <h1>Codepath JavaScript</h1>
  <h2>Report Card 2021-2022</h2>

  <div class="student-info">
    <h3 id="student-name">STUDENT_NAME</h3>
    <p id="student-grade-level">STUDENT_GRADE</p>

    <div>
      <p><span>Advisor:</span>STUDENT_ADVISOR</p>
      <p><span>Major:</span> Life Skillz</p>
      <p class="student-graduation-year"><span>Graduation Year:</span> 2031</p>
    </div>
  </div>

  <div class="report-card">
    <header>
      <h2>Grades</h2>
    </header>
    <main>
      <div class="table-header">
        <h4 class="code-col">Code</h4>
        <h4 class="name-col">Name</h4>
        <h4 class="sem-col">Semester</h4>
        <h4 class="cred-col">Credits</h4>
        <h4 class="lett-col">Letter</h4>
        <h4 class="pts-col">Points</h4>
      </div>

      <div>
        <h4 class="code-col">LIT 101</h4>
        <h4 class="name-col">English Literature 101</h4>
        <h4 class="sem-col">Spring 2021</h4>
        <h4 class="cred-col"><span className="credit">5</span> credits</h4>
        <h4 class="lett-col">B+</h4>
        <h4 id="gpa1" class="pts-col">?</h4>
      </div>

      <div>
        <h4 class="code-col">CS 50</h4>
        <h4 class="name-col">Intro to Computer Science</h4>
        <h4 class="sem-col">Spring 2021</h4>
        <h4 class="cred-col"><span className="credit">5</span> credits</h4>
        <h4 class="lett-col">A-</h4>
        <h4 id="gpa2" class="pts-col">?</h4>
      </div>

      <div>
        <h4 class="code-col">WD 140</h4>
        <h4 class="name-col">Web Development for the Modern Era</h4>
        <h4 class="sem-col">Spring 2021</h4>
        <h4 class="cred-col"><span className="credit">5</span> credits</h4>
        <h4 class="lett-col">A+</h4>
        <h4 id="gpa3" class="pts-col">?</h4>
      </div>

      <div>
        <h4 class="code-col">JS 2.0</h4>
        <h4 class="name-col">Serverside JavaScript</h4>
        <h4 class="sem-col">Spring 2021</h4>
        <h4 class="cred-col"><span className="credit">10</span> credits</h4>
        <h4 id='D' class="lett-col">A</h4>
        <h4 id="gpa4" class="pts-col">?</h4>
      </div>

      <div class="totals">
        <h4></h4>
        <h4></h4>
        <h4>Totals:</h4>
        <h4 id="total-credits"> ? credits </h4>
        <h4></h4>
        <h4 id="total-pts">?</h4>
      </div>

      <div class="gpa">
        <h4></h4>
        <h4></h4>
        <h4>GPA:</h4>
        <h4></h4>
        <h4></h4>
        <h4 id="gpa"> ?</h4>
      </div>

    </main>
  </div>
</div>
