@import url('https://fonts.googleapis.com/css?family=Montserrat');

:root {
  --color-bg-blue:    rgb(232, 241, 248);
  --color-watermelon: rgb(248, 6, 82);
  --color-dark-blue:  rgb(16, 28, 40);
  --color-sky-blue:   rgb(173, 196, 214);
  --color-cloth-blue: rgb(34, 47, 62);
}


// body {
//   font-family: Montserrat;
//   padding: 0.5rem;
//   background: var(--color-bg-blue);
// }

#js-logo {
  position: absolute;
  width: 3rem;
  height: 3rem;
  top: 0;
  right: 0;
}
body > h1 {
  color: var(--color-cloth-blue);
  display: inline-block;
  border-bottom: solid 3px var(--color-watermelon);
}
.student-info {
  margin: 1.5rem 0;
  background: var(--color-cloth-blue);
  color: white;
  width: 19.5rem;
  padding: 1rem;
  border-radius: 4px
}
.student-info > p {
  margin-bottom: 1rem;
}
.student-info p span {
  font-weight: bold;
  font-size: 1.1rem;
}
.report-card {
  min-width: 500px
}
.report-card header h2 {
  display: inline-block;
  border-bottom: solid 3px var(--color-watermelon);
}
main {
  margin-top: 1rem;
}
main div {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr 1fr 1fr 1fr
}
main div h4 {
  padding: 0.5rem;
}
main .table-header {
  border-bottom: solid 2px var(--color-watermelon);
  background: var(--color-sky-blue);
}
main .totals {
  border-top: solid 2px var(--color-watermelon);
  font-size: 1.2rem;
}
main .gpa {
  border-top: solid 2px var(--color-watermelon);
  font-size: 1.2rem;
}
